<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/add.css')}}">
    <title>Tasty Recipes</title>
</head>

<body>
        <!-- NavBar -->
        <nav class="navbar__container navbar d-flex ">
            <div class=" d-flex">
                <div>
                    <img class='icon_img' src="static/img/TastyRecipes.com__2_-removebg-preview.png" alt="icon_img">
                </div>
            </div>
            <div class="d-flex">
                <div>
                    <a class="btn " href="/post">Recipes</a>
                </div>
                <div>
                    <a class="btn" href="/logout">Log out</a>
                </div>
            </div>
        </nav>
        <div class="main d-flex">
            <form action="/process_edit/{{recipe.id}}" method="post">
                <div class="container1">
                    <h1>Add Recipe</h1>
                    <label for="image">Image:</label>
                    <input type="url" placeholder='image' id="image" name="image">
                    {%for message in get_flashed_messages(category_filter = ['error_recipe_image'] ) %}
                    <p class="alert">
                        {{message}}
                    </p>
                    {%endfor%}
                    <label for="name">Name:</label>
                    <input type="text" placeholder='name' id="name" name="name" value="{{recipe.name}}">
                    {%for message in get_flashed_messages(category_filter = ['error_recipe_name'] ) %}
                    <p class="alert">
                        {{message}}
                    </p>
                    {%endfor%}
                    <label for="ingredient">Ingredient:</label>
                    <textarea type="text" placeholder='Enter ingredients' id="ingredient" name="ingredient"> {{recipe.ingredient}}</textarea>
                    {%for message in get_flashed_messages(category_filter = ['error_recipe_ingredient'] ) %}
                    <p class="alert">
                        {{message}}
                    </p>
                    {%endfor%}
                    <label for="description">Description:</label>
                    <textarea type="text" placeholder='Enter description' id="description" name="description"> {{recipe.description}}</textarea>
                    {%for message in get_flashed_messages(category_filter = ['error_recipe_description'] ) %}
                    <p class="alert">
                        {{message}}
                    </p>
                    {%endfor%}
                    <div class="d-flex justify-content-around">
                        <div>
                            <label for="cook_time">Cook time:</label>
                            <input type="number" placeholder='minutes' id="cook_time" name="cook_time" style="width: 100px;" min="1" max="5" value= {{recipe.cook_time}}>
                            {%for message in get_flashed_messages(category_filter = ['error_recipe_cook_time'] ) %}
                            <p class="alert">
                                {{message}}
                            </p>
                            {%endfor%}
                        </div>
                        <div>
                            <label for="difficulty">Difficulty:</label>
                            <div class="d-flex">
                                Easy: <br/><input type="radio" name="difficulty" value="1" {% if current_recipe.difficulty == 1 %} checked {%endif%}>
                                Medium: <br/><input type="radio" name="difficulty" value="0" {% if current_recipe.difficulty == 0 %} checked {%endif%}>
                            </div>
                        </div>
                    </div>
                    <button class="registerbtn">Update</button>
                </div>
            </form>
        </div>
</body>
</html>